:root {
  --color-white: #f8f8f8;
  --color-black: #080808;
  --color-red: #f83800;
  --color-green: #00b800;
  --color-yellow: #d8f878;
  --color-orange: #fca044;
  --color-gray: #d8d8d8ff;
}

html {
  image-rendering: pixelated;
  background: url(../images/watertile.gif) repeat;
}

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P';
}

button {
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  opacity: 0.75;
  cursor: not-allowed !important;
}

.hidden {
  display: none !important;
}

body {
  margin: 0;
  overflow: hidden;
}

#game-area {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  image-rendering: pixelated;
  cursor: none;
}

#board-editor {
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: max-content;
  height: min-content;
}

.btn-controls {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--color-yellow);
  font-size: 1em;
  line-height: 0.5em;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#btn-rotate:not(:disabled):hover,
#btn-shuffle:not(:disabled):hover {
  background-color: #f0ffc3;
}

#btn-rotate {
  right: 16px;
}

#btn-shuffle {
  left: 16px;
}

#btn-play {
  position: absolute;

  width: 56px;
  height: 56px;

  color: var(--color-white);
  background-color: var(--color-green);

  cursor: pointer;
  transition: 0.2s ease-in-out;

  border: none;
  border-radius: 0.5rem;
}

#btn-play:hover {
  background-color: #58d854;
}

#btn-back {
  position: absolute;
  bottom: 64px;
  width: 56px;
  height: 56px;
  background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

#btn-back:hover {
  background-color: #e65326;
}

#awaitcontainer {
  position: absolute;
  height: 0;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 200px;
  height: 200px;
  border: 24px solid transparent;
  border-top-color: var(--color-orange);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spinner 1s infinite linear;
}

.loading {
  position: fixed;
  inset: 0;
  z-index: 999;
}

#btn-cancelar {
  background-color: var(--color-red);
  color: var(--color-white);

  cursor: pointer;
  transition: 0.2s ease-in-out;

  border: none;
  padding: 16px;
  border-radius: 0.5rem;
  z-index: 2;
  position: relative;
}

#btn-cancelar:hover {
  background-color: #f87858;
}

#form-battle {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form-controls {
  text-align: center;
}

#input-player-name {
  padding: 16px;
  outline: none;
  border: none;
  background-color: var(--color-gray);
  border-radius: 0.5rem;
}

#btn-battle {
  margin-top: 16px;
  color: var(--color-white);
  background-color: var(--color-orange);
  display: inline-block;

  cursor: pointer;
  transition: 0.2s ease-in-out;

  border: none;
  padding: 16px;
  border-radius: 0.5rem;
}

#btn-battle:not(:disabled):hover {
  background-color: var(--color-yellow);
}

.btn-active:not(:disabled):active {
  transform: scale(1.5);
}

@-ms-keyframes spinner {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}